# requirements list

# application dependencies
# APScheduler==3.5.3
# celery==4.2.1
# kombu==4.3.0
# pika==0.13.0
# pymongo==3.7.2
flask==1.0.2
requests==2.21.0
gunicorn==19.9.0

# algorithm dependencies
cython==0.29.7
numpy==1.16.3
scipy==1.2.1
pymysql==0.9.3

